<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<connectionStrings>
    <add name="ChinookEntities" connectionString="metadata=res://*/ChinookEntities.csdl|res://*/ChinookEntities.ssdl|res://*/ChinookEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Chinook;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IChinookService"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChinookService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8090/ChinookHttpService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IChinookService" contract="ChinookServiceRef.IChinookService" name="BasicHttpBinding_IChinookService"/>
      <endpoint address="net.tcp://localhost:8080/ChinookHttpService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChinookService" contract="ChinookServiceRef.IChinookService" name="NetTcpBinding_IChinookService">
        <identity>
          <userPrincipalName value="developer-pc\developer"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>